Project/Cbis.ProductManagement.Client/Service References/Generated/InformationSystemManagement22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://cbis.citybreak.com/InformationSystemManagement" elementFormDefault="qualified" targetNamespace="http://cbis.citybreak.com/InformationSystemManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:44300/InformationSystemManagement.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cbis.ExternalApi.Contract" />
  <xs:import schemaLocation="http://localhost:44300/InformationSystemManagement.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Globalization" />
  <xs:element name="CreateOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Cbis.ExternalApi.Contract" minOccurs="0" name="organizationReference" nillable="true" type="q1:OrganizationReference" />
        <xs:element minOccurs="0" name="organizationCulture" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCulture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Cbis.ExternalApi.Contract" minOccurs="0" name="CreateOrganizationResult" nillable="true" type="q2:OrganizationReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Cbis.ExternalApi.Contract" minOccurs="0" name="organizationReference" nillable="true" type="q3:OrganizationReference" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Cbis.ExternalApi.Contract" minOccurs="0" name="organizationProperties" nillable="true" type="q4:ArrayOfInformationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrganizationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Cbis.ExternalApi.Contract" minOccurs="0" name="organizationReference" nillable="true" type="q5:OrganizationReference" />
        <xs:element minOccurs="0" name="productSystemName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productTemplate" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Cbis.ExternalApi.Contract" minOccurs="0" name="referenceName" nillable="true" type="q6:ReferenceName" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Cbis.ExternalApi.Contract" minOccurs="0" name="productData" nillable="true" type="q7:ArrayOfInformationData" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Cbis.ExternalApi.Contract" minOccurs="0" name="mediaData" nillable="true" type="q8:ArrayOfMediaInformationData" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Cbis.ExternalApi.Contract" minOccurs="0" name="occasionData" nillable="true" type="q9:ArrayOfOccasionInformationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Cbis.ExternalApi.Contract" minOccurs="0" name="SetProductResult" nillable="true" type="q10:ProductCallbackReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Cbis.ExternalApi.Contract" minOccurs="0" name="organizationReference" nillable="true" type="q11:OrganizationReference" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Cbis.ExternalApi.Contract" minOccurs="0" name="referenceName" nillable="true" type="q12:ReferenceName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Cbis.ExternalApi.Contract" minOccurs="0" name="GetProductResult" nillable="true" type="q13:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Cbis.ExternalApi.Contract" minOccurs="0" name="organizationReference" nillable="true" type="q14:OrganizationReference" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="skipPages" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Cbis.ExternalApi.Contract" minOccurs="0" name="GetProductsResult" nillable="true" type="q15:ArrayOfProductReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Cbis.ExternalApi.Contract" minOccurs="0" name="GetSystemCategoriesResult" nillable="true" type="q16:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemCultures">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemCulturesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/System.Globalization" minOccurs="0" name="GetSystemCulturesResult" nillable="true" type="q17:ArrayOfCultureInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>