Project/Cbis.ProductManagement.Client/Service References/Generated/InformationSystemManagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://cbis.citybreak.com/InformationSystemManagement" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cbis.citybreak.com/InformationSystemManagement" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://cbis.citybreak.com/InformationSystemManagement/Imports">
      <xsd:import schemaLocation="http://localhost:44300/InformationSystemManagement.svc?xsd=xsd0" namespace="http://cbis.citybreak.com/InformationSystemManagement" />
      <xsd:import schemaLocation="http://localhost:44300/InformationSystemManagement.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:44300/InformationSystemManagement.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cbis.ExternalApi.Contract" />
      <xsd:import schemaLocation="http://localhost:44300/InformationSystemManagement.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Globalization" />
      <xsd:import schemaLocation="http://localhost:44300/InformationSystemManagement.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInformationSystemManagement_CreateOrganization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrganization" />
  </wsdl:message>
  <wsdl:message name="IInformationSystemManagement_CreateOrganization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrganizationResponse" />
  </wsdl:message>
  <wsdl:message name="IInformationSystemManagement_UpdateOrganization_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrganization" />
  </wsdl:message>
  <wsdl:message name="IInformationSystemManagement_UpdateOrganization_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrganizationResponse" />
  </wsdl:message>
  <wsdl:message name="IInformationSystemManagement_SetProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:SetProduct" />
  </wsdl:message>
  <wsdl:message name="IInformationSystemManagement_SetProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetProductResponse" />
  </wsdl:message>
  <wsdl:message name="IInformationSystemManagement_GetProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="IInformationSystemManagement_GetProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="IInformationSystemManagement_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IInformationSystemManagement_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IInformationSystemManagement_GetSystemCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemCategories" />
  </wsdl:message>
  <wsdl:message name="IInformationSystemManagement_GetSystemCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IInformationSystemManagement_GetSystemCultures_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemCultures" />
  </wsdl:message>
  <wsdl:message name="IInformationSystemManagement_GetSystemCultures_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemCulturesResponse" />
  </wsdl:message>
  <wsdl:portType name="IInformationSystemManagement">
    <wsdl:operation name="CreateOrganization">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/InformationSystemManagement/IInformationSystemManagement/CreateOrganization" message="tns:IInformationSystemManagement_CreateOrganization_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/InformationSystemManagement/IInformationSystemManagement/CreateOrganizationResponse" message="tns:IInformationSystemManagement_CreateOrganization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganization">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/InformationSystemManagement/IInformationSystemManagement/UpdateOrganization" message="tns:IInformationSystemManagement_UpdateOrganization_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/InformationSystemManagement/IInformationSystemManagement/UpdateOrganizationResponse" message="tns:IInformationSystemManagement_UpdateOrganization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetProduct">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/InformationSystemManagement/IInformationSystemManagement/SetProduct" message="tns:IInformationSystemManagement_SetProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/InformationSystemManagement/IInformationSystemManagement/SetProductResponse" message="tns:IInformationSystemManagement_SetProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/InformationSystemManagement/IInformationSystemManagement/GetProduct" message="tns:IInformationSystemManagement_GetProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/InformationSystemManagement/IInformationSystemManagement/GetProductResponse" message="tns:IInformationSystemManagement_GetProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/InformationSystemManagement/IInformationSystemManagement/GetProducts" message="tns:IInformationSystemManagement_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/InformationSystemManagement/IInformationSystemManagement/GetProductsResponse" message="tns:IInformationSystemManagement_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSystemCategories">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/InformationSystemManagement/IInformationSystemManagement/GetSystemCategories" message="tns:IInformationSystemManagement_GetSystemCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/InformationSystemManagement/IInformationSystemManagement/GetSystemCategoriesResponse" message="tns:IInformationSystemManagement_GetSystemCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSystemCultures">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/InformationSystemManagement/IInformationSystemManagement/GetSystemCultures" message="tns:IInformationSystemManagement_GetSystemCultures_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/InformationSystemManagement/IInformationSystemManagement/GetSystemCulturesResponse" message="tns:IInformationSystemManagement_GetSystemCultures_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>